:root {
    --Softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --Dcyan: hsl(167, 40%, 24%);
    --Dblue: hsl(198, 62%, 26%);
    --Dlcyan: #90d4c5;
    --footerfont: rgb(69, 140, 126);
  
    --padding: 1rem;
    --padding-m: calc(var(--padding)*2);
    --padding-l: calc(var(--padding-m)*3);
  
    --verydarkblue: hsl(212, 27%, 19%);
    --verydarkgrayishblue: hsl(213, 9%, 39%);
    --darkgrayishblue: hsl(232, 10%, 55%);
    --grayishblue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
  
    text-decoration: none;
    margin: 0;
    list-style: none;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    color: black;
  }
  
  body {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--white);
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  header {
    padding: 1rem;
    background-color: #3dbeff;
  }
  
  .hamburger {
    display: inline-block;
    float: right;
    height: 1.5rem;
  }
  
  .show {
    display: block;
  }
  
  nav {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: calc(var(--padding-m) + 1rem);
    width: clamp(60%, 90%, 500px);
  }
  
  nav li a {
    color: var(--darkgrayishblue);
  }
  
  .arrow-left {
    position: absolute;
    top: -30px;
    right: 0px;
    width: 3rem;
    height: 3rem;
    border-top: 60px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 50px solid var(--white);
  }
  
  .hero {
    display: block;
    text-align: center;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  
  .wrapper1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .wrapper1 h1 {
    color: var(--white);
    font-size: 3.5rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: var(--padding);
  }
  
  .arrowdown {
    height: 40vh;
    padding: var(--padding);
  }
  
  .bg-1 {
    width: 100%;
    height: 100%;
  }
  
  ul li {
    padding: 1rem;
    text-align: center;
  }
  
  .flex {
    justify-content: center;
  }
  
  .highlight {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--yellow);
    border-radius: 50px;
    font-family: 'Fraunces', serif;
    padding: var(--padding) var(--padding-m);
    color: var(--verydarkgrayishblue);
    cursor: pointer;
  }
  
  .container {
    display: grid;
  }
  
  .transform p,
  .standout p {
    line-height: 2rem;
    color: var(--verydarkgrayishblue);
  }
  
  .transform,
  .standout,
  .testimonials {
    text-align: center;
    padding: calc(var(--padding-m) + 0.5rem);
    color: var(--darkgrayishblue);
  }
  
  .learn {
    font-family: 'Fraunces', serif;
    display: inline-block;
    padding: 0;
    margin: 3rem 0px;
    color: var(--verydarkblue);
  }
  
  .learn1:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #ffd602;
    text-decoration-color: #ffd602;
    text-decoration-thickness: 10px;
  }
  
  .learn2:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #fb7663;
    text-decoration-color: #fb7663;
    text-decoration-thickness: 10px;
  }
  
  h2,
  .name {
    font-family: 'Fraunces', serif;
    padding: var(--padding-m);
    display: inline-block;
    margin-top: 30px;
    text-align: center;
  }
  
  .text-bottom {
    padding: calc(var(--padding-m) + 0.5rem);
    position: absolute;
    bottom: 50px;
    text-align: center;
    line-height: 1.5rem;
    width: 100%;
  }
  
  .graphicdesign,
  .photography {
    position: relative;
  
  
  }
  
  .graphicdesign p,
  .graphicdesign h2 {
    color: var(--verydarkblue);
    line-height: 2rem;
  }
  
  .photography p,
  .photography h2 {
    line-height: 2rem;
    color: var(--verydarkblue);
  }
  
  .client {
    letter-spacing: 0.25rem;
    color: var(--grayishblue);
    font-size: 1.5rem;
  }
  
  .darkBlue {
    color: var(--Dblue);
  }
  
  .lighten {
    color: var(--grayishblue);
  }
  
  p.darken {
    color: var(--verydarkgrayishblue);
    line-height: 2rem;
  }
  
  .testimonials {
    padding: calc(var(--padding-m) + 0.5rem);
  }
  
  .avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 1rem 0 2rem;
  }
  
  .name {
    padding: var(--padding);
  }
  
  .photo {
  
    width: 49%;
  }
  
  footer {
    background-color: var(--Dlcyan);
  }
  
  .logo-top {
    height: 2rem;
  }
  
  .footer-logo {
    padding-top: calc(var(--padding-m) + 2rem);
    padding-bottom: var(--padding-m);
    margin: auto;
    display: block;
  }
  
  .nav-footer a {
    color: var(--footerfont);
  }
  
  .nav-footer a:hover {
    color: white;
  }
  
  .nav-footer,
  .contacts-footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
  }
  
  .contacts-footer {
    margin-top: var(--padding-m);
    max-width: 200px;
  }
  
  .contacts-footer:hover {
    color: whitesmoke;
  }
  
  @media only screen and (min-width: 800px) {
  
    .container {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: minmax(40px, auto);
    }
  
    .hamburger {
      display: none;
    }
  
    nav {
      position: relative;
      display: flex;
      background-color: transparent;
      color: white;
      width: 100%;
      justify-content: flex-end;
      padding: 0;
      margin-left: auto;
    }
  
    .text-bottom {
      padding: 0 4rem;
      position: absolute;
      line-height: 0.5rem;
    }
  
    .arrow-left {
      display: none;
    }
  
    .flex li a {
      color: white;
    }
  
    ul.flex {
      display: flex;
      flex-direction: row;
    }
  
    .highlight {
      margin: 0px;
      margin-top: -30px;
      background-color: white;
    }
  
    .highlight:hover {
      background-color: #6ed0ff;
      color: white;
    }
  
  
  }
  
  .flex a.highlight {
    color: black;
  }
  
  .hero {
    grid-column: 1/7;
    max-height: 90vh;
    width: 100%;
  }
  
  .learn {
  
    margin-left: var(--padding-m);
  
  }
  
  .transform {
    grid-column: 1/4;
    order: 1;
    text-align: left;
  }
  
  .transform p {
    padding: var(--padding-m);
  }
  
  .egg {
    grid-column: 4/7;
    order: 2;
  }
  
  .shake {
    grid-column: 1/4;
    order: 3;
  }
  
  .standout {
    grid-column: 4/7;
    order: 4;
    text-align: left;
  }
  
  .standout p {
    padding: var(--padding-m);
  }
  
  .graphicdesign {
    grid-column: 1/4;
    order: 5;
  }
  
  .photography {
    grid-column: 4/7;
    order: 6;
  }
  
  .client {
    grid-column: 1/7;
    order: 7;
  }
  
  .testimonials {
    grid-column: 1/7;
    order: 8;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1/7;
    order: 9;
    background-color: var(--Dlcyan);
  }
  
  .client-flex {
    grid-column: 1/7;
    order: 9;
    display: flex;
    margin-bottom: 3rem;
  }
  
  .photo {
    width: 100%;
  }
  
  section {
    text-align: left;
  }
  
  }